doctype html
html
  head
    //title= title
    title #{AppConfig.title}
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1") 
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="product", content="Bootstrap Template")
    meta(name="description", content="Bootstrap Template")
    meta(name="author", content="Jens Leuschner")

    link(rel="apple-touch-icon",href="icon.png")
    link(rel="apple-touch-icon",href="icon.png")
    link(rel="apple-touch-startup-image",href="icon.png")
    meta(name="mobile-web-app-capable",content="yes")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="apple-mobile-web-app-status-bar-style",content="black")


    if AppConfig.productional
      link(rel='stylesheet', href='dist/css/j.css')
      script(type='text/javascript', src='dist/js/j.min.js')
    else 
      link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
      //link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
      link(rel='stylesheet', href='/bower_components/bootstrapvalidator/dist/css/bootstrapValidator.min.css')
      link(rel='stylesheet', href='/css/style.css')

      script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
      script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

      script(type='text/javascript', src='/bower_components/bootbox/bootbox.js')
      script(type='text/javascript', src='/bower_components/bootstrapvalidator/dist/js/bootstrapValidator.min.js')
      script(type='text/javascript', src='/bower_components/bootstrapvalidator/dist/js/language/de_DE.js')

      link(rel='stylesheet',scoped="scoped",href='/bower_components/fontawesome/css/font-awesome.min.css')
      link(rel='stylesheet',scoped="scoped",href='/bower_components/summernote/dist/summernote.css')
      script(type='text/javascript', src='/bower_components/summernote/dist/summernote.min.js')

      script(type='text/javascript', src='/bower_components/jquery-ui/ui/minified/widget.min.js')
      script(type='text/javascript', src='/js/navigation.js')
      script(type='text/javascript', src='/js/dokusys.js')

  body

    nav#MainNavbar.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      div.container-fluid 
        //- Brand and toggle
        .navbar-header
          button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar-content")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") 
            //span.glyphicon.glyphicon-home.text-right 
            span.glyphicon.glyphicon-star-empty.text-right 
            //span: image(src='/images/pent80.png', style='position:relative;top:-10px;height:200%;')
            | #{AppConfig.title_short}<sup>#{AppConfig.title_short_version}</sup>

        //- Collapsable-Part der NavBar
        .collapse.navbar-collapse#navbar-content
          ul.nav.navbar-nav
            li.hidden: a#MainNav_DokuSys(href="#") DokuSys
            li: a#MainNav_DBtest(href="#") DB-Test
            li: a#MainNav_Config(href="#") Config
            li.dropdown.hidden
              a.dropdown-toggle(href="#",data-toggle="dropdown") Dropdown 
                span.caret
              ul.dropdown-menu(role="menu")
                li: a(href="#") Action
                li.divider
                li: a(href="#") Separated link
                li.divider
                li: a(href="#") One more separated link
          //- rechts
          ul.nav.navbar-nav.navbar-right
            li: a#MainNav_Login(href="#") Login
            li.dropdown
              a.dropdown-toggle(href="#",data-toggle="dropdown")
                span.glyphicon.glyphicon-cog
                span.caret
              ul.dropdown-menu(role="menu")
                li: a(href="#") Action
          form.navbar-form.navbar-right(role="search")
            .form-group
              .input-group
                input.form-control.input-sm(type="text",placeholder="Suche")
                span.input-group-btn 
                  button.btn.btn-primary.btn-sm(type="submit"): span.glyphicon.glyphicon-search

    form.form-horizontal#MainLogin(style='display:none;')
      .form-group
        label.col-sm-3.control-label Benutzer
        .col-sm-6
          input.form-control#MainLoginUser(name='user',type='text',required='required',placeholder='Benutzer-Login',data-bv-message='Benutzername angeben!')
      .form-group
        label.col-sm-3.control-label Passwort
        .col-sm-6
          input.form-control#MainLoginPwd(name='passwd',type='password',required='required',placeholder='Passwort',data-bv-message='Passwort angeben!')
      p.col-sm-10.col-sm-offset-1.text-danger#MainLoginErr
      .form-group
        .col-sm-10.col-sm-offset-1
          button.btn.btn-primary.btn-block(type='submit') Login
      

    #MainWorkspace
      .container-fluid
        .row
          .col-md-4
            h1= AppConfig.title

            if AppConfig.productional
              h1 PRD
            else 
              h1 TRN
            div
            - for (var x = 0; x < 30; x++)
              | item#{x} 
          .col-md-8
            div
            - for (var x = 0; x < 30; x++)
              | item#{x} 
